@using WebApplication21.Data
@model IEnumerable<Image>

<h2 style="text-align:center">All Images</h2>

<br />

@foreach (Image i in Model)
{
    <div class="container" style="position:relative;  float:left; text-align:center">
        <h3 class="text" style="position:absolute; top:5%; left:50%;  transform: translate(-50%, -50%); color:white">@i.Title</h3>
        <a href="/Home/ViewImage?id=@i.Id">
            <img src="~/UploadedImages/@i.FileName" width="250">
        </a>
        <img src="~/like.png" style="height:60px; position:absolute; top:74%; right:-12%; transform: translate(-50%, -50%); padding: 12px 24px; border: none; cursor: pointer; border-radius: 5px"/>
        <h4 style="position:absolute; top:64%; right:14%">@i.LikeCount</h4>
        <br />
        <br />
    </div>
}
